* {
  margin: 0;
  padding: 0;
  font-family: 'Edu TAS Beginner', cursive;
  font-family: 'Kalam', cursive;
}

body {
  background-color: #1817174a;
  line-height: 1.6;
}
header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  display: flex; /* Use Flexbox */
  justify-content: center; /* Align items horizontally */
  align-items: center; /* Center items vertically */
}

header nav ul {
  list-style-type: none;
  padding: 5px;
  margin: 0;
  display: flex;

  justify-content: center;
  align-items: center; /* Use Flexbox */
}

header nav li {
  padding: 5px;
}

header nav a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
  margin: 20px 20px;
}
a:hover {
  color: #ee7525ee;
  text-decoration: underline;
}

/* // hero section */
.hero {
  background-size: cover;
  background-position: center;
  color: #000000;
  text-align: center;
  padding: 10px 0;
}

.hero-content {
  max-width: 800px;
  margin: 0 auto;
}
#p {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 15px;
}
h1 {
  font-size: 50px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

#search-input {
  width: 65%;
  max-width: 450px;
  padding: 10px 20px;
  border: none;
  box-shadow: 2.5px 2.5px 7px 2px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
  columns: #333;
  margin-right: 10px;
  margin-top: 10px;
}
#search-button {
  padding: 10px 20px;
  background-color: #4caf50;
  border: none;
  box-shadow: 2.5px 2.5px 7px 2px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 10px;
  transition: background-color 0.3s ease-in-out;
}
#search-button:hover {
  background-color: #3e8e41;
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.search-result {
  margin-bottom: 30px;
  width: 30%;
  border-radius: 6px;
  box-shadow: 2.5px 2.5px 7px 2px rgb(0, 0, 0, 0.4);
  overflow: hidden;
}

.search-result:hover img {
  transform: scale(1.1);
}
.search-result img {
  width: 100%;
  object-fit: cover;
  height: 200px;
  transition: transform 0.3s ease-in-out;
}
.search-result a {
  display: block;
  color: #333;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  transition: color 0.3 ease-in-out;
}
.search-result:hover a {
  color: white;
}
#show-more-button {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  display: block;
  margin: 20px auto;
  border-radius: 8px;
  cursor: pointer;
  display: none;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 2.5px 2.5px 7px 2px rgba(0, 0, 0, 0.4);
}
#show-more-button:hover {
  background-color: #0077b5;
}

@media screen and (max-width: 768px) {
  .search-result {
    width: 45%;
  }
}

@media screen and (max-width: 480px) {
  .search-result {
    width: 100%;
  }
  form {
    flex-direction: column;
  }
  #search-input {
    margin-bottom: 20px;
    margin-left: 8px;
    width: 80%;
  }
}

/* Add this to your style.css file */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
}

.footer p {
  margin: 0;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  display: inline;
  margin: 0 10px;
}

.footer-links a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

/* Add this to your style.css file */

/* Change link color on hover */
.footer-links a:hover {
  color: #ee7525ee; /* Change the color to your desired hover color */
}

/* Add an underline on hover */
.footer-links a:hover {
  text-decoration: underline;
}
